:root {
  --primary-color: #F5EDE3;
  --secondary-color: #8C6A5D;
  --accent-color: #2E2E2E;
  --highlight-color: #C8A951;
  --background-color: #FAF9F6;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--accent-color);
}

header {
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
  text-align: center;
}
.header-container {
  display: flex;
  align-items: center;  
  border: 2px solid #333;
}

nav {
  background-color: var(--accent-color);
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  color: var(--highlight-color);
}

main {
  padding: 10px;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 10px;
}

img {
  width: 80%;
  max-width: 200px;
  margin: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

form {
  max-width: 500px;
  margin: auto;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}